:root {
     /* default contrast  */
    --ac-light: #36c;
    --fg-light: #111;
    --bg-light: #f9f9fb; 
    --midtone: gray;
    --fg-dark: #f5f3ef;
    --bg-dark: #260312; /* modcolor nav-var */
    --ac-dark: #fa0;

     /* less contrast  */
    /* --ac-light-less: var(--ac-light);
    --fg-light-less: #13253d;
    --bg-light-less: #e7e2e2; 
    --midtone-less: #7d8490;
    --fg-dark-less: #e7e2e2;
    --bg-dark-less: #13253d;
    --ac-dark-less: var(--ac-dark);

     /* more contrast  */
    /* --ac-light-more: var(--ac-light);
    --fg-light-more: #000;
    --bg-light-more: #fff;
    --midtone-more: gray;
    --fg-dark-more: #fff;
    --bg-dark-more: #000;
    --ac-dark-more: var(--ac-dark); */
}


.fraunces-font {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}



body{
    /* background-color: var(--bg-dark); */
    /* color: var(--fg-dark); */
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    /* modcolor text */
    color: #e0ddd9ba;
    
}



/* mod para letras, h1, texto, etc */
/* Si pongo 'a' se modifican los tags */
h1, h2, h3, h4, h5, h6, strong{
    font-family: "Fraunces", serif;
    font-weight: 300;
    font-style: normal;
    color: #f5f3ef;
}

em, text, p {
    font-family: "Fraunces", serif;
    font-weight: 100;
}

#underline{
    font-family: "Fraunces", serif;
    font-weight: 200;
    font-style: normal;
}

#pagewidth a,h1,h2,h3,h4,h5{
    color : #f5f3ef;
}

/* #home #list-posts a, h1, h2, h3{
        color : #e0ddd9c6;

} */

/* mod recent posts h1 */
#list-posts h1{
    /* background-color: rgb(214, 18, 18); */
    font-weight: 200;
    font-style: normal;
    color: #f5f3ef;
}

/* mod bionread */
#bionReadSwitch+label, #join-discussion, #saveButton, #share, a.cta {
    background-color: #1E020E;
}

#bionReadButton span{
    color: var(--ac-dark); /* yellow */
}
#bionReadButton strong{
    color: #e0ddd9ba;
    font-weight: 100;
}
#bionReadSwitch:hover+label span{
    color: #1E020E;
    font-weight: bold;
}
#bionReadSwitch:hover+label{
    font-weight: 300;
    background-color: var(--ac-dark);
    /* background-color: rgb(128, 43, 0); puta q lindo color */
}
#bionReadSwitch:checked+label span{
    color: #1E020E;
    font-weight: bold;
}

.hypothesis-prompt {
  background-color: #2d0312; /* Fondo oscuro vino */
  border-left: 4px solid #d83f54;
  padding: 1rem;
  margin: 2rem auto;
  max-width: var(--canonic);
  font-style: italic;
  color: #f5f3ef;
}




/* mod espacio entre parrafos */
#main-article section>p {
    margin-top: 0.5rem
}

.hero__content p{
    margin-top: 0.5rem
    
}

.carousel__viewport__slide__cover + .carousel__viewport__slide__content p{
    margin-top: 0.5rem

}

#main-article section>h1, h2, h3, h4, h5 {
    margin-top: 3.5rem
}