{{- if and (isset site.Params.giscus "repo") (ne site.Params.giscus.repo "" ) -}}
<div class="pagewidth">
<noscript id="noGiscus">
    <center role="alert">{{ i18n "noGiscus" }}</center>
</noscript>
<div id="noDOMGiscus" class="hide">
    <center role="alert">{{ i18n "noGiscus" }}</center>
</div>
<script src="https://giscus.app/client.js"
        data-repo="MatiasColladoCA/ensayos-matias-collado"
        data-repo-id="R_kgDOOt7NBw"
        data-category="Comments"
        data-category-id="DIC_kwDOOt7NB84CtXcD"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="es"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>
{{- end -}}