{{ "<!-- head.html -->" | safeHTML -}}
{{ if or .Params.headless .Params.target .Params.alias -}}
    {{- $url := "404.html" | absURL }}
    {{- with or .Params.Target .Params.Alias }}
        {{- $url = . }}
    {{- end }}
    <title>{{ $url }}</title>
    <link rel="canonical" href="{{ $url }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ $url }}" />
{{- else -}}
    {{ partial "head/meta.html" . -}}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ partialCached "head/js.html" . -}}
    {{ partialCached "head/css.html" . -}}
    {{ partial "head/css/inline.html" . -}}
    {{ if eq .Type "test" }}
    <link rel="preload" href="/fonts/ROTHEFIGHT.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <style>
        @font-face {
            font-family: 'ROTHEFIGHT';
            src: url('/fonts/ROTHEFIGHT.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"></script>
    {{ end }}
{{ end }}