/*
<!----- V container ----->
<div class='has-carousel'>
    <!--- H container --->
    <div class='carousel'>
        <div>----  <div>----  <div>----  <div>---- <div>----
        |       |  |       |  |       |  |       |  |       |
        |       |  |       |  |       |  |       |  |       |
        |       |  |       |  |       |  |       |  |       |
        |       |  |       |  |       |  |       |  |       |
        ---</div>  |       |  ---</div>  |       |  ---</div>
                   ---</div>             ---</div>
    </div>
<div>
*/
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #1E020E; /*modcolor carousel*/
}

/* modcolor carousel tags */
.carousel > .carousel__nav a{
    background-color: #260312;
}

.carousel > .carousel__nav a:hover{
    background-color: #350c1c;
}

/*mod lista de tags debajo de slide */
.carousel__nav {
    display: flex;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    justify-content: flex-end;
    z-index: 1;
    width: calc(100% - 4rem);
    font-size: var(--small);
    font-family: "Fraunces", serif;
    font-weight: 100;
    font-style: normal;
    overflow-x: auto;
    white-space: nowrap;
    
}



.carousel__nav span {
    color: #e0ddd9ba;; /* Blanco */
    text-decoration: none;    
}

/* .carousel__nav a:hover {
    color: #d6cacf; /* Color vino rojizo */
    /* background-color: white; */
    
/* } */

/* mod fondo de tags introduccion */
.carousel__nav > ul {
    overflow-x: auto;
    white-space: nowrap;
    
}


.carousel__viewport nav a {
    display: flex;
    z-index: 2;
    font-size: var(--small);
    
}

/* mod slide introduccion */
.carousel__viewport {
    display: flex;
    height: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    
}

/* mod slide categorias */
ul.carousel__viewport {
    border: none;
    padding: 0;
}

.carousel__viewport > div,
.carousel__viewport > section,
ul.carousel__viewport > li,
.carousel__viewport__slide {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

ul.carousel__viewport > li {
    position: relative;
    margin: 1ex;
    border-radius: 1ex;
    background-position: center;
    background-size: cover;
    width: 16rem;
    height: 12.8rem;

}

ul.carousel__viewport > li > a {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -1px;
    border-radius: 0.82ex;
    overflow: clip;
    /* color: var(--fg); */
    font-size: var(--small);
    font-weight: bold;
}

/* mod color de los dibujos en los cubos */
ul.carousel__viewport > li:hover,
ul.carousel__viewport > li:focus-within {
    --tsf: scale(0.96);
    /* opacity: 0.86; */
    /* background-color: white; */

}

ul.carousel__viewport > li > a > span {
    display: inline-block;
    position: relative;
    border-radius: 0 0 1ex 0;
    /* background-color: var(--bg); */
    padding: 0.7ex 2ex;
    max-width: 12.8rem;
    
}

ul.carousel__viewport > li > a > span::before,
ul.carousel__viewport > li > a > span::after {
    position: absolute;
    border-top-left-radius: 1ex;
    box-shadow: 0 -1ex 0 0 var(--bg);
    background-color: transparent;
    width: 1ex;
    height: 2ex;
    content: '';
}

ul.carousel__viewport > li > a > span::before {
    bottom: -2ex;
    left: 0;
}

ul.carousel__viewport > li > a > span::after {
    top: 0;
    right: -1ex;
}

#list-tags .underline,
.carousel__viewport__slide > nav a {
    display: inline-flex;
    padding: 1ex 1rem;
    gap: 1ex;
    
}


.pagination .lfill a::after,
#list-tags .underline::after,
.carousel__viewport__slide:first-child > nav a::after {
    /* -> */
    --tsf: rotate(90deg);
    font-family: base-ui;
    content: '\e902';
}

#list-taxonomy > .carousel__viewport {
    flex-direction: column;
    height: 14.75rem;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    font-family: "Fraunces", serif;
    font-weight: 100;
    font-style: normal;
}



#list-taxonomy {
    margin: 1rem 0;
}

#list-series ul.carousel__viewport,
#list-categories ul.carousel__viewport,
#list-author ul.carousel__viewport {
    scrollbar-width: thin;
}
/* mod categories names */

#list-categories a{
    color: #e0ddd9ba;
}
#list-categories a:hover::after {
    position: absolute;
    right: 1ex;
    bottom: 1ex;
    border-radius: 0.7ex;
    background: var(--bg);
    padding: 0.7ex 0;
    width: calc(3.2rem - 2ex);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    content: attr(data-post-counter);
    font-weight: 100;
    /* color: white; mod numero dentro de cubos de categorias
    background-color: white; */
}

 /* mod carousel*/
.carousel-viewport a, span, .section-title{
    font-family: "Fraunces", serif;
    font-weight: 100;
    font-style: normal;
}

.carousel-viewport span, .section-title{
    color: #f5f3ef;

}

/* .section-title li :hover { */
    /* font-family: "Fraunces", serif;
    font-weight: 100;
    font-style: normal; */
    /* background-color: black; */
/* } */

.carousel__nav a, button {
    background-color: #1E020E;; /* Blanco */
    text-decoration: none;  
        /* background-color: white; */
  
}